<nav class="navbar navbar-expand-md navbar-dark bg-dark default">
  <a class="navbar-brand" href="#">Healthlog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"  [routerLink]="['/user-profile']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/appointments']" >Appointments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLink]="['/patients']">Patients</a>
      </li>
    </ul>
    <button (click)="logout()" class="btn btn-info btn-md fa fa-sign-out">Logout </button>
  </div>
  <script>
    // Add active class to the current button (highlight it)
    var header = document.getElementById("navbarsExampleDefault");
    var btns = header.getElementsByClassName("nav-item");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
        var current = document.getElementsByClassName("active");
        current[0].className = current[0].className.replace(" active", "");
        this.className += " active";
      });
    }
  </script>
</nav>
<br><br>
