<app-navbar></app-navbar>

<h2>My Patients</h2>
<br>

<ul class="patients">
  <nb-card size="'small'">
    <li *ngFor="let patient of patients | async"
        [class.selected]="patient === selectedPatient"
      (click)="onSelect(patient)">
      <DIV>
          <nb-user  [name]="patient.name" [title]="'Engineer'" size="large"></nb-user>
      </DIV>
    </li>
  </nb-card>
</ul>

<div *ngIf="selectedPatient" [hidden]="!chart">


</div>

<div  class="row">
  <div class="col-sm-6">
    <nb-card>
      <nb-card-header style="background: bisque">Temperature</nb-card-header>
      <nb-card-body>
        <canvas id="line-chart" width="800" height="450">{{chart}}</canvas>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-sm-6">
    <nb-card>
      <nb-card-header style="background: #607D8B">Medicine</nb-card-header>
      <nb-card-body>
        <mat-list>
          <mat-list>Ibuprofen</mat-list>
          <mat-list>Paracetamol</mat-list>
          <mat-list>Algocalmin</mat-list>
        </mat-list>
      </nb-card-body>
    </nb-card>
  </div>

</div>


